*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/managed
/app/store
xcuserdata/
**/gottlieb.xcuserdatad/*
**/View/SampleView.swift


Constant.swift

# Firebase
GoogleService-Info.plist
node_modules
.runtimeconfig.json
firebase-debug.log
firestore-debug.log
yarn-error.log
*.js.map
coverage
dist
.firebase
